body {
  margin: 0;
  font-family: Poppins, sans-serif !important; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.secondary-btn {
  background-color: #FFBD01 !important;
  border: none !important;
}

.primary-btn {
  background-color: #0056b3 !important;
  border: none !important;
}

.hover-button {
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.hover-button:hover {
  background-color: #0056b3; /* darker shade of primary */
  transform: scale(1.05);
}
